# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
ca-certificates=2022.10.11=h06a4308_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
openssl=1.1.1s=h7f8727e_0
